@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #212121;
    background-color: #09080f;
}

.nav-links{
    font-family: "Schibsted Grotesk", sans-serif;   
    font-family: "Space Grotesk", sans-serif;
    font-family: "Roboto", sans-serif;
}

.custom-underline {
    text-decoration: underline;
    text-decoration-thickness: 1px; 
    text-underline-offset: 3px;
}
